# CPU Configuration
CONFIG_ARCH_NUC980=y
CONFIG_MACH_NUC980=y
CONFIG_BOARD_NUC980=y
CONFIG_NUC980_FIQ=y
CONFIG_ARCH_MULTI_V7=n
CONFIG_MAY_HAVE_SPARSE_IRQ=y
CONFIG_SPARSE_IRQ=n
CONFIG_ATAGS=y

# Serial Configuration
CONFIG_SERIAL_NUC980=y
CONFIG_SERIAL_NUC980_CONSOLE=y
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_LL=y
CONFIG_DEBUG_NUC980_UART=y
CONFIG_EARLY_PRINTK=y

# Device tree configuration
CONFIG_USE_OF=y
